@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@600&display=swap');

#profile-name {
    font-family: 'Recursive', sans-serif;
  }

/* .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto;
} */
.card {
    width: 75%;
}
#my-posts {
    text-align: center;
    font-family: 'Recursive', sans-serif;
}

@media (min-width:320px) and (max-width:640px)  { 
   .profile-section{
       display: flex;
       flex-direction: column;
       text-align: center;
       justify-content: center
   } 
   
}
